.center-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-item {
  text-align: center;
}

.center-item-width {
	width: 595px;
}

.center {
	text-align: center;
}