body {
    background-color: #ffffff;
}

h1 {
    color: #e60000;
    font-family: "Yesteryear";
    font-size: 63px;
}

h3 {
    color: #e60000;
    font-family: "Yesteryear";
    font-size: 36px;
}

.m0 {
    margin: 0;
}

.mb-a {
    margin-bottom: 25px;
}

.mt-a {
    margin-top: 25px;
}

.mb-b {
    margin-bottom: 35px;
}

.mt-b {
    margin-top: 35px;
}

.mb-c {
    margin-bottom: 15px;
}

.header {
    text-align: center;
}

.content-container {
    max-width: calc(85px * 7);
    display: inline-flex;
    flex-direction: column;
}

.content-text {
    color: #000000;
    font-family: "Futura", "Arial", sans-serif;
    font-size: 18px;
}

.content {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.back {
    text-align: center;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: #e60000;
    transition: color 0.5s ease;
}

a:visited {
    color: #e60000;
}

a:hover {
    text-decoration: none;
    color: green;
}

a:active {
    text-decoration: none;
    color: green;
}
